@import "../../globalColor";

.education-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 22px;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 860px) {
  .education-card-container {
    grid-template-columns: 1fr;
  }
}
