@import "../../globalColor";

.competency-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 22px;
}

@media (max-width: 768px) {
  .competency-grid {
    grid-template-columns: 1fr;
  }
}
